:root {
    --cta-primary: lightgrey;
    --cta-hover: aqua;
    --icon-primary: grey;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px;
    max-width: 1360px;
    margin: 0 auto;


}

header {
    display: flex;
    position: relative;
    width: 100%;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    
}

header > * {
   /*border: 1px solid red;*/

    i {
        margin-right: 10px;
    }
}

#logo {
    margin-right: 3%;
    width: 15%;
}


nav {
    display: flex;
    width: 40%;

    ul {
        display: flex;
        flex-direction: row;
        width: 100%;

        li {
            list-style: none;
            width: 20%;
        }
    }
}


#header-actions {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;

    * {
        width: 20%;
        margin: 0 10px;
    }

    #global-search-icon {
        width: 5%;
    }

    button {
        font-size: 0.875rem;
        padding: 10px;
        width: 25%;
        min-width: 125px;
        vertical-align: middle;
        border-radius: 8px;

    }

}

#menu-icon {
    display: none;
}


#search-container {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    margin-left: calc(13% - 12px);
    width: 88%;
    height: 100%;
    padding-left: 2%;
    
    background-color: white;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow:  0 4px 40px #00000014;

    input {
        font-size: 1rem;
        width: 85%;
        border: none;
        border-bottom: 1px solid grey;
        padding: 5px;
    }

    input:focus {
        outline: none;
        border: 1px solid lightgrey;

    }

    i {
        color: var(--icon-primary);
        font-size: 1.2rem;
    }

    .right {
        margin-left: -1%;
        margin-bottom: 2px;
    }

    #search {
        font-size: 0.875rem;
        width: 10%;
        height: 50%;
        border: none;
        margin-left: 5%;
        margin-right: 10px;
        border-radius: 8px;
    }
}

.cta {
    background-color: var(--cta-primary);
}

.cta:hover {
    background-color: var(--cta-hover);
}

.action-btn {
    border: none;
    background-color: white;
}

#menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    transition: linear .25s;

    #menu-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #menu-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    button {
        width: 30%;
        font-size: 0.875rem;
        height: 2rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
    
            li {
                list-style: none;
                width: 20%;
                margin: 10px 0;
            }
        }
    }

}



/* Hero Content */

#hero-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    width: 100%;
    margin-top: 5%;

    h1 {
        font-size: 4rem;
    }

    #hero-img-container {
        background-color: lightgrey;
        height: 500px;
        padding: 0 0 0 10px;
    }

    #supporting-text {
        margin: 20px 0;
        font-size: 1.5rem;
    }
    
    #button-container {
        margin: 15px 0;
    }

    button {
        font-size: 0.875rem;
        width: 40%;
    }
}

/* Logo Wall */

#logo-wall {
    display: flex; 
    flex-direction: column;

    margin-top: 100px;
    position: relative; /* this is if we want some sort of border */

    h2 {
        margin-bottom: 20px;
        text-align: center;
        font-weight: 400;
    }

    #logo-container {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    .logo-carousel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        /*animation: scroll-logos infinite 35s linear;*/

        img {
            height: 50px;
            width: auto;
            padding: 0 50px;
        }
    }
    
}

/*#logo-wall:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255, 0), white);
    content: "";
    z-index: 2
}*/


/* Feature Section */

#features {
    /*border: 1px solid red;*/
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 2120px;
    position: relative;
}

#feature-text-column {
    width: 50%;
}

.feature {
    /*border: 1px solid gold;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.feature-text {
     /*border: 1px solid gold;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0 20px;
    height: 500px;
    width: 50%;
    min-width: 520px;


    .feature-text-container {

        h3 {
            font-size: 2.2rem;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
            width: 75%;
        }
    }
}

div.feature:last-of-type {
    margin-bottom: 0;
}


/*#feature-img-column {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 400px;
    top: 20px;
    overflow: hidden; */

.feature-img-container {
    /*border: 1px solid green;*/
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.feature-img {
    /*border: 1px solid black;*/
    position: sticky;
    top: calc(50% - 200px);
    width: 80%;
    margin-left: 10%;
    display: none;


    img {
        width: 100%;
        margin: 0 auto;
        object-fit: contain;

    }
}

.show-feature-img {
    display: block;
    animation: enter-img .4s ease-out;
}

#feature-bg-column {
    /*border: 1px solid blue;*/
    width: 50%;
    height: 2120px;
    position: absolute;
    top: 0;
    right: 0;
}

#feature-img-bg {
    background-color: lightpink;
    width: 100%;
    height: 25%;
    right: 0;
    top: 0;
    border-radius: 100px;
    position: sticky;
    display: block;
    transition: .5s linear;
    z-index: -1;
}

.mobile-img-bg {
  display: none;
}


/* Widget Details */

#widget-details {
    border: 1px solid red;
    margin-top: 50px;

    h2 {
        width: 100%;
        text-align: center;
    }
}

#filter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;

    .filter-chip {
        position: relative;
        text-align: center;
        width: 15%;
        border: 1px solid black;
        border-radius: 15px;
        margin: 0 10px;


    }

}

input[type="radio"] {
    appearance: none;
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

input[type="radio"]:hover + label {
    background-color: black;
    color: white;
}

input[type="radio"]:checked + label {
    background-color: black;
    color: white;
    border: 2px solid green;
}

label {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


#widget-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.widget-card {
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 30%;
    box-shadow: 5px 5px 5px 0px rgba(232,232,232,1);
    margin: 10px;
    /*transition: 1s linear;*/

    i {
        color: grey;
    }

    img {
        width: 100%;
    }
}

.filtered {
    /*display: none;*/
    animation: filtered 1s ease-in forwards;
    overflow: hidden;

}


@keyframes scroll-logos {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes enter-img {
    from {
        opacity: 0;
        transform: scale(0.25, 0.25);
        left: 100%;
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
        left: 0;
    }
}

@keyframes filtered {
    99% {
        transform: scale(0,0);
        opacity: 0;
    }

    100% {
        height: 0;
        width: 0;
    }
}


/* Breakpoint 1 < 1215px width
- hide secondary CTA
- show nav, search, profile, primary CTA */

@media (max-width: 1215px) {
    #cta-2 {
        display: none;
    }

    #search-container {
        margin-left: calc(15% - 12px);
        width: 87%;
    }
}

/* Breakpoint 2 < 1085px width
- hide nav, secondary CTA, log in
- show search, primary CTA, hamburger menu */

@media (max-width: 1084px) {
    #logo {
        margin-right: 20%;
    }
   
    nav {
        display: none;
    }

    #header-actions {
        justify-content: space-between;
        width: 30%;
        min-width: 300px;
    }

    #profile-icon {
        display: none;
    }

    #menu-icon {
        display: flex;
        justify-content: center;
        width: 1.5rem;

        .fa-bars {
            font-size: 1.5rem;
            width: 100%;
            text-align: center;
        }
    }

    #search-container {
        margin-left: calc(25% - 12px);
        width: 77%;
    }

    #hero-content {
        grid-template-columns: 1fr;
    }

    #logo-wall {

        h2 {
            font-size: 1.1rem;
        }
    
        .logo-carousel {
            img {
                height: 30px;
            }
        }
    }

    #features {
        height: fit-content;
    }

    .feature {
        margin-bottom: 40px;
    }

    .feature-text {
        /*border: 1px solid purple;*/
        width: 100%;
        height: fit-content;
        justify-content: center;
        margin-bottom: 20px;
    }

    .feature-img-container {
        width: 100%;
        height: 350px;
        justify-content: center;
    }
    
    .feature-img {
        /*border: 1px solid blue;*/
        position: relative;
        top: 0;
        margin-left: 0;
        height: 90%;

        img {
            height: 100%;
            padding: 0;
        }
    }

    #feature-bg-column {
        display: none;
    }

    .feature-img-container .feature-img {
        display: block;
    }
 
    .mobile-img-bg {
        background-color: lightpink;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 100px;
        position: absolute;
        display: inline;
        z-index: -1;
    }
    
    .mobile-img-bg.second {
        background-color: green;
    
    }
    
    .mobile-img-bg.third {
        background-color: lightseagreen;
    }
    
    .mobile-img-bg.fourth {
        background-color: lightcyan;
    }
    
    

}


