:root {
    --cta-primary: var(--cool-cyan);
    --cta-hover: var(--ring-gold-light);
    --font-color-primary: var(--tech-gray);
    --icon-primary: grey;
    --feature-area-height: 3500px;

    --body-text: Roboto, sans-serif;
    --header-text: Poppins, sans-serif;
    --style-text: "Space Grotesk", serif;

    --side-padding: 20px;

    --bold-magenta: #FF006E;
    --tech-gray: #333333;
    --cool-cyan: #00BFFF;
    --elec-purple: #9400D3;
    --soft-pink: #FFC1E3;
    --light-gray: #F5F5F5;
    --white-smoke: #EDEDED;



    /*Body Text: Use Lora in "Mountain Grey" for readability on light backgrounds or "Elven Silver" on dark backgrounds.
Backgrounds: Employ gradients or textures combining "Mirkwood Green" and "Mountain Grey" for a grounded fantasy feel.
Buttons and Highlights: Use "Shire Gold" or "Ring Gold" to draw attention to calls-to-action. */
    /* Colors */
 /* Color Palette

 Primary Color:

Bold Magenta (#FF006E): The core brand color, vibrant and energetic, representing creativity and innovation.
Secondary Colors:

Tech Gray (#333333): A sleek, modern dark gray for text and contrasting elements.
Cool Cyan (#00BFFF): A bright cyan for accents and interactive elements like buttons or highlights.
Accent Colors:

Electric Purple (#9400D3): A complementary purple to add depth and variety.
Soft Pink (#FFC1E3): A lighter magenta-inspired shade for subtle backgrounds or highlights.
Neutral Colors:

Light Gray (#F5F5F5): A clean, neutral background color.
White Smoke (#EDEDED): For cards, sections, or dividers.
*/

}

/* Fonts */

  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: white;
}

body {
    /*border: 1px solid red;*/
    font-family: var(--body-text), Arial, sans-serif;
    padding: 20px 0 20px 0;
    max-width: 1280px;
    margin: 0 auto;

}

body:has(dialog[open]) {
    overflow: hidden;
}

header {
    display: flex;
    position: relative;
    width: 100%;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    font-family: var(--body-text);
    padding: 0 var(--side-padding);
    
}

header > * {
   /*border: 1px solid red;*/

    i {
        margin-right: 10px;
    }
}

#logo {
    margin-right: 3%;
    width: 15%;
}


nav {
    display: flex;
    width: 40%;

    ul {
        display: flex;
        flex-direction: row;
        width: 100%;

        li {
            list-style: none;
            width: 20%;
            cursor: pointer;

        }

        li:hover {
            text-decoration: underline;
        }
    }
}



#header-actions {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;

    * {
        width: 20%;
        margin: 0 10px;
        cursor: pointer;

    }

    #global-search-icon {
        width: 5%;
    }

    button {
        font-size: 0.875rem;
        padding: 10px;
        width: 28%;
        min-width: 125px;
        vertical-align: middle;
        border-radius: 8px;
        /*color: var(--font-color-primary);*/

    }
}


#menu-icon {
    display: none;
}


#search-container {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    margin-left: calc(13% - 12px);
    width: 88%;
    height: 100%;
    padding-left: 2%;
    
    background-color: white;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow:  0 4px 40px #00000014;

    input {
        font-size: 1rem;
        width: 85%;
        border: none;
        border-bottom: 1px solid grey;
        padding: 5px;
    }

    input:focus {
        outline: none;
        border: 1px solid lightgrey;

    }

    i {
        color: var(--icon-primary);
        font-size: 1.2rem;
    }

    .right {
        margin-left: -1%;
        margin-bottom: 2px;
    }

    #search {
        font-size: 0.875rem;
        width: 10%;
        height: 50%;
        border: none;
        margin-left: 5%;
        margin-right: 10px;
        border-radius: 8px;
    }
}

.cta-primary {
    background-color: var(--cta-primary);
    border: 2px solid var(--cta-primary);
    color: var(--white-smoke);

    background-repeat: no-repeat;
    background-position: -250px -250px;
    
   background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );
    /*background-image: linear-gradient(to right, red, green);*/
    
    background-size: 250% 250%, 50% 50%;
    
    transition: background-position 0s ease;
}

.cta-primary:hover {
    /*background-color: var(--cta-hover);*/
    background-position: 0 0, 0 0;
    
    transition-duration: 0.25s;
}

.cta-secondary {
    background-color: white;
    border: 2px solid var(--cta-primary);
    transition: .2s linear;
}

.cta-secondary:hover {
    border: 4px solid var(--cta-primary);
}

/* Shine Effect */
/*.cta-primary {
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;
    
    background-image: linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );
    
    background-size: 250% 250%, 100% 100%;
    
    transition: background-position 0s ease;
  } 
  
  .button.two:hover {
    background-position: 0 0, 0 0;
    
    transition-duration: 0.5s;
  } */



.action-btn {
    border: none;
    background-color: white;
}

#menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    transition: linear .25s;

    #menu-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #menu-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    button {
        width: 30%;
        font-size: 0.875rem;
        height: 2rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
    
            li {
                list-style: none;
                width: 20%;
                margin: 10px 0;
            }
        }
    }

}



/* Hero Content */

#hero-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    width: 100%;
    margin-top: 5%;
    padding-left: 10px;


    h1 {
        font-size: 4rem;
        font-family: var(--header-text);
        color: black;
    }

    #hero-img-container {
        background-color: lightgrey;
        width: 100%;
        max-width: 800px;
        height: 500px;
        padding: 0 0 0 10px;
        /*object-fit: cover;*/

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    #supporting-text {
        margin: 20px 0;
        font-size: 1.5rem;
        font-family: var(--body-text);
    }
    
    #button-container {
        margin: 25px 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    button {
        font-size: 0.875rem;
        width: 40%;
        height: 40px;
        border-radius: 10px;
    }
}

/* Logo Wall */

#logo-wall {
    display: flex; 
    flex-direction: column;

    margin-top: 100px;
    position: relative; /* this is if we want some sort of border */
    background-color: white;
    padding: 10px 0 36px 0; /* bottom padding = top padding plus height of H2 */

    h2 {
        margin-bottom: 20px;
        text-align: center;
        font-weight: 400;
    }

    #logo-container {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    .logo-carousel {
        display: flex;
        flex-direction: row;
        align-items: center;
        /*animation: scroll-logos infinite 35s linear; */ /* Comment in to scroll logos */

        img {
            height: 50px;
            width: auto;
            padding: 0 50px;
        }
    }
    
}

/*#logo-wall:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255, 0), white);
    content: "";
    z-index: 2
}*/


/* Feature Section */

#features {
    /*border: 1px solid red;*/
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    height: var(--feature-area-height);
    position: relative;
}

#feature-text-column {
    width: 50%;
}

.feature {
    /*border: 1px solid gold;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    height: 800px;
    margin-bottom: 100px;

}

.feature-text {
    /*border: 1px solid gold;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    height: 500px;
    width: 50%;
    min-width: 520px;
    position: sticky;
    top: 0;


    .feature-text-container {

        h3 {
            font-size: 2.2rem;
            margin-bottom: 20px;
            font-family: var(--header-text);
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
            width: 75%;
        }
    }
}

div.feature:last-of-type {
    margin-bottom: 0;
}


/*#feature-img-column {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 400px;
    top: 20px;
    overflow: hidden; */

.feature-img-container {
    /*border: 1px solid green;*/
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.feature-img {
   /* border: 1px solid black;*/
    position: sticky;
    /*top: calc(50% - 220px);*/
    top: 0;
    width: 80%;
    height: 500px;
    margin-left: 10%;
    opacity: 1;
    display: none;
    transition: .2s ease-in;



    img {
        width: 100%;
        margin: 0 auto;
        object-fit: contain;
       /* border: 1px solid red;*/

    }
}

.show-feature-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: enter-img .4s ease-out;
}

.exit-img {
    /*animation: exit-img .2s ease-in forwards;*/
    opacity: 0;
}

#feature-bg-column {
    /*border: 1px solid blue;*/
    width: 50%;
    height: var(--feature-area-height);
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 100px;
    /*padding-top: 50px;*/
}

#feature-img-bg {
    background-color: var(--bold-magenta);
    width: calc((2120px - 120px) / 4);
    height: calc((2120px - 120px) / 4);
    right: 0;
    top: 0;
    border-radius: 50%;
    position: sticky;
    display: block;
    transition: .5s linear;
    z-index: 0;
}

.mobile-img-bg {
  display: none;
}


/* Widget Details */

#widget-details {
    margin-top: 80px;


}

#filter-container {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    /*position: sticky;
    top: 0;*/
    background-color: white;

    h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        font-family: var(--header-text), sans-serif;
    }

    .filter-chip {
        position: relative;
        text-align: center;
        width: 10%;
        min-width: 100px;
        height: 50px;
        border: 1px solid var(--cool-cyan);
        border-radius: 35px;
        margin: 0 10px;
        color: var(--tech-gray);


    }

}

input[type="radio"] {
    appearance: none;
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

input[type="radio"]:hover + label {
    background-color: var(--cool-cyan);
    color: white;
    border-radius: 35px;

}

input[type="radio"]:checked + label {
    background-color: var(--cool-cyan);
    color: white;
    border-radius: 35px;
}

label {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#widget-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    overflow: scroll;
}

.widget-card {
    border: 1px solid lightgrey;
    border-radius: 10px;
    max-width: 300px;
    width: 30%;
    min-width: 250px;
    height: 400px;
    box-shadow: 5px 5px 5px 0px rgba(232,232,232,1);
    margin: 10px;
    /*transition: transform .1s linear;*/


    i {
        color: var(--tech-gray);
        margin: 15px 0;
        font-size: 1.5rem;
        padding-left: 10px;
    }

    img {
        width: 100%;
    }

    .widget-card-desc {
        font-size: 1.2rem;
        margin-bottom: 15px;
        padding-left: 10px;
    }

    .learn-more {
        padding-left: 10px;
        margin: 10px 0;
        color: black;
        text-decoration: none;
        display: inline-block;
    }
    
    .learn-more:hover {
        text-decoration: underline;
    }
}

/*.widget-card:hover {
    transform: scale(1.1, 1.1);
}*/



.filtered {
    /*display: none;*/
    animation: filter-out .1s ease-in forwards;

}

.filter-in {
    animation: filter-in .5s ease-in-out;
}

#widget-dialog::backdrop {
    background-color: lightgrey;
    opacity: .75;
}

:modal {
    border: 10px solid red;
    background-color: wheat;
    /*position: fixed;*/
    width: 80%;
    height: 80%;
    margin: 0 auto;
    z-index: 3;
    top: 0;
    overscroll-behavior: contain;
}


/* Testimonials */

#testimonials {
    margin-top: 80px;
    padding: 20px;
    background-color: var(--soft-pink);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
        "a a a a a a a b b b b b"
        "c c c d d d d d d e e e"
        "c c c d d d d d d f f f"
        "g g g g g g g g g g h h";

}


#testimonial-header-container {
    grid-area: a;
    /*outline: 1px solid magenta; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main-quote {
    font-size: 4rem;
    font-weight: 500;
    font-family: var(--style-text);

}

.testimonial-cta {
    width: 30%;
    min-width: 200px;
    height: 60px;
    font-size: 1.25rem;
    border-radius: 20px;
    border: 5px solid var(--elec-purple);
    background-color: white;
    margin: 10px 0;
    cursor: pointer;
}

.quote-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.quote-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0 5px 0;


    img {
        height: 30px;
    }

    .more-arrow {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        font-size: 1.3rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--elec-purple);
        color: white;
        cursor: pointer;
        transition: transform .1s linear;
    }

    .more-arrow:hover {
        transform: scale(1.1, 1.1);
    }
}

.testimonial-img1 {
    grid-area: b;
    
    img {
        width: 100%;
        transform: scaleX(-1);
    }

}

.testimonial-img2 {
    grid-area: c;
    /*background-color: var(--light-gray);
    clip-path: circle(30%);*/

    img {
        width: 100%;
    }
}

.testimonial-quote1 {
    grid-area: d;

    .long-quote {
        font-size: 1.8rem;
        font-weight: 300;
        font-family: var(--style-text), serif;
    }

    .attr-name {
        margin: 35px 0 10px 0;
        font-weight: bold;
    }

    .attr-title {
        margin: 5px 0;
    }
}
.testimonial-quote2 {
    grid-area: e;

}

.stat-quote {
    font-size: 1.1rem;

    .stat {
        font-size: 1.8rem;
        display: block;
        width: 100%;

    }
}

.testimonial-quote3 {
    grid-area: f;

}

.testimonial-quote4 {
    grid-area: g;

}

.horiz-quote {
    font-size: 1.4rem;
}

.testimonial-img3 {
    grid-area: h;

    img {
        width: 100%;
        transform: scaleX(-1);
    }

}

/* Footer */

#footer {
    /*border: 1px solid red;*/
    border-top: 5px solid var(--bold-magenta);

    margin-top: 80px;
    padding: 20px 20px 0 20px;


    .footer-links {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        gap: 30px;

        ul {
        }

        li {
            display: block;
            margin: 5px 0;
        }
    }

    a {
        color: var(--tech-gray);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }


}

.footer-links ul li {
    display: block;
}

#footer-connect-links {
    display: flex;
    margin: 40px 0 20px 0;
    flex-direction: row;
    justify-content: space-between;

    #socials i {
        margin: 0 5px;
        font-size: 1.3rem;
        cursor: pointer;
    }

    li {
        list-style: none;
        display: inline;
        margin: 0 15px;
    }

    li:last-of-type {
        margin-right: 0;
    }
}

#footer-btm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0 0;

    #copyright {
        text-align: right;

        p {
            padding: 2px 0;
        }
    }

    .thanks {
        font-size: 0.75rem;
    }
}




/* Animations */


@keyframes scroll-logos {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes enter-img {
    from {
        opacity: 0;
        transform: scale(0.25, 0.25);
        /*left: 100%;*/
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
        /*left: 0;*/
    }
}

@keyframes exit-img {
    to { 
        transform: scale(0.25, 0.25);
        transform-origin: center;
        opacity: 0;
    }
}


@keyframes filter-out {
    to {
        transform: scale(0,0);
        opacity: 0;
        position: absolute;
    }
}

@keyframes filter-in {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Breakpoint 1 < 1215px width
- hide secondary CTA
- show nav, search, profile, primary CTA */

@media (max-width: 1215px) {
    #cta-2 {
        display: none;
    }

    #search-container {
        margin-left: calc(15% - 12px);
        width: 87%;
    }

    #hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        justify-content: center;
        align-items: center;

        #button-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            button {
                width: 35%;
                height: 65px;
            }
        }
    }

    .widget-card {
        height: 380px;
    }

    #features {
        height: 1200px;
    }

    .feature {
        height: 500px;
        margin-bottom: 100px;
    }

    .feature-img-container {
        height: 100%;

        .feature-img {
            height: 100%;
            width: 100%;
        }
    }
}

/* Breakpoint 2 < 1085px width
- hide nav, secondary CTA, log in
- show search, primary CTA, hamburger menu */

@media (max-width: 1084px) {

    #logo {
        margin-right: 20%;
    }
   
    nav {
        display: none;
    }

    #header-actions {
        justify-content: space-between;
        width: 30%;
        min-width: 300px;
    }

    #profile-icon {
        display: none;
    }

    #menu-icon {
        display: flex;
        justify-content: center;
        width: 1.5rem;

        .fa-bars {
            font-size: 1.5rem;
            width: 100%;
            text-align: center;
        }
    }

    #search-container {
        margin-left: calc(25% - 12px);
        width: 77%;
    }

    #hero-content {
        grid-template-columns: 1fr;
    }

    #logo-wall {

        h2 {
            font-size: 1.1rem;
        }
    
        .logo-carousel {
            img {
                height: 30px;
            }
        }
    }

    #features {
        height: fit-content;
    }

    .feature {
        margin-bottom: 100px;
    }

    .feature-text {
        /*border: 1px solid purple;*/
        width: 100%;
        height: fit-content;
        justify-content: center;
        margin-bottom: 20px;
    }

    .feature-img-container {
        width: 100%;
        height: 350px;
        justify-content: center;
    }
    
    .feature-img {
        /*border: 1px solid blue;*/
        position: relative;
        top: 0;
        margin-left: 0;
        height: 90%;

        img {
            height: 100%;
            padding: 0;
        }
    }

    #feature-bg-column {
        display: none;
    }

    .feature-img-container .feature-img {
        display: block;
    }
 
    .mobile-img-bg {
        background-color: lightpink;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 100px;
        position: absolute;
        display: inline;
        z-index: -1;
    }
    
    .mobile-img-bg.second {
        background-color: green;
    
    }
    
    .mobile-img-bg.third {
        background-color: lightseagreen;
    }
    
    .mobile-img-bg.fourth {
        background-color: lightcyan;
    }

    #filter-container {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: scroll;
    }

    .widget-card {
        width: 80%;
        max-width: 350px;
    }

    #filter-container::-webkit-scrollbar {
        display: none;
    }

    #testimonials {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "a b"
        "d d"
        "e e"
        "f f"
        "g g";
    }

    .main-quote {
        font-size: 1.3rem;
    }

    .testimonial-img2, .testimonial-img3 {
        display: none;
    }

}


